.container{
    .header{
        position: sticky;
    }
    .footer{
        position: sticky;
        margin-top: 0;
    }
    height: 100vh;
    padding: 0 20px;
    .avatar{
        height: 32px;
        width: 100%;
    }
}